<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <meta name="author" content="Andrei Murica">
    <%- include("../fragmente/head.ejs");  %> 
    

    <meta name="keywords" content="Sneakers, adidasi, accesorii, Jordan, Nike, fotbal , baschet">
    <meta name="description" content="Site stil magazin de sneakersi, incaltaminete comoda de strada si pentru sport si obiecte pentru ingrijirea lor">
    <title>Sneaker Van</title>
  </head>
  <body>
    <%- include("../fragmente/header.ejs");  %> 
        
    <main>
        <h2 class="bcl">403 Nu te baga!</h2>
    </main>
    <footer>
        <%- include("../fragmente/footer.ejs");  %> 
    </footer>
  </body>
</html>
