<address>
    <a href="https://goo.gl/maps/r85tWvrX92vTTyQ29" target="_blank">Strada Academiei 14, București, sector 1<br></a>
    <a href="tel:+40987654321" target="_blank">Telefon: +40987654321<br></a>
    <a href="mailto:contact@sneakervan.ro" target="_blank">E-Mail: contact@sneakervan.ro<br></a>
    <a href="https://wa.me/0987654321" target="_blank">WhatsApp: Sneaker Van<br></a>
</address>
<a href="#" title="mergi sus" id="link-top"><div id="patrat"></div><div id="triunghi"></div><div id="semicerc"></div></a>
<br>
<a href="#">Mergi sus</a>
<br><br>
<p><small>Copyright &copy;2022 Murica Andrei</small></p>