<nav>
    <p id="watermark"></p>
    <label id="hamburger" for="ch-menu">
        <img src="./resurse/img/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><a href="/index">ACASA</a>
            <ul>
                <li><a href="/index#welcome">Bine ati venit</a></li>
                <li><a href="/index#branduri">Branduri</a></li>
                <li><a href="/index#poze">Poze</a></li>
                <li><a href="/index#info">Despre noi</a></li>
            </ul>
        </li>
        <li><a href="/produse">BRANDURI</a>
            <ul>
                <li><a>Nike</a></li>
                <li><a>Adidas</a></li>
                <li><a>Jordan</a></li>
            </ul>
        </li>
        <li><a>PRODUSE</a>
            <ul>
                <li><a href="/produse?tip=fotbal">Fotbal</a></li>
                <li><a href="/produse?tip=baschet">Baschet</a></li>
                <li><a href="/produse?tip=sneakerși">Sneakerși</a></li>
                <li><a href="/produse?tip=papuci">Papuci</a></li>
            </ul>
        </li>
        <li><a>ACCESORII</a>
            <ul>
                <li><a>Sireturi</a></li>
                <li><a>Soseste</a></li>
                <li><a>Ingrijire</a></li>
            </ul>
        </li>
    </ul>
</nav>